*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root{
	--color-1: palegreen;
	--color-2: paleturquoise;
	--color-3: palevioletred;
	--color-4: peachpuff;
	--color-5: green;
}

h1 {
  color: green;
}

#main-wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  position: relative;
  grid-template:
    "header header header header"
    "sidebar main main main" 
    "footer footer footer footer";
	grid-template-rows: min-content auto min-content;
}

header {
  grid-area: header;
  justify-content: center;
  background: var(--color-1);
}

#sidebar {
  grid-area: sidebar;
  flex-grow: 1;
  background: var(--color-2);
}

main {
  grid-area: main;
	display: grid;
	justify-content: center;
	align-content: center;
  flex-grow: 1;
  background: var(--color-3);
}

#board, #board-inject {
	background: var(--color-4);
	width: 100%;
	height: 100%;
	border: 1px solid #999;
	box-shadow: 0px 3px 5px #333;
}

.board {
	display: grid;
	
}
m

footer {
  max-height: fit-content;
  grid-area: footer;
  background: var(--color-5);
}
