*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: green;
}

#main-wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  position: relative;
  grid-template:
    "header header header header"
    "sidebar main main main" 
    "footer footer footer footer";
	grid-template-rows: min-content auto min-content;
}

header {
  grid-area: header;
  justify-content: center;
  background: palegreen;
}

#sidebar {
  grid-area: sidebar;
  flex-grow: 1;
  background: paleturquoise;
}

main {
  grid-area: main;
	display: grid;
	justify-content: center;
	align-content: center;
  flex-grow: 1;
  background: palevioletred;
}

#board {
	background: red;
}

footer {
  max-height: fit-content;
  grid-area: footer;
  background: peachpuff;
}
