<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Board</title>
	<link rel="stylesheet" href="../styles.css" type="text/css" />
	<script src="./Scripts/board.js" type="module"></script>
</head>
<body>
	<div id="board">
		<div id="board-header" class="board">Combination</div>
			<div id="board-main" class="board">
				<div class="board board-row"></<div>
			</div>
			<div id="board-footer" class="board">Pegs</div>
		</div>
  </div>
</body>
</html>